/* Headers */
div.shortcode-header {
	width: 100%;
	background-image: url(images/header.png);
	background-repeat: repeat-x;
	background-position: bottom;
	margin-bottom: 10px;
}

	div.shortcode-header h1,
	div.shortcode-header h2,
	div.shortcode-header h3,
	div.shortcode-header h4,
	div.shortcode-header h5,
	div.shortcode-header h6 {
		margin-bottom: 0 !important;
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		padding-right: 10px;
		line-height: 100%;
		vertical-align: bottom;
	}

/* Toggle */
ul.shortcode-toggle {
	margin: 0;
	padding: 0;
}

	ul.shortcode-toggle > li {
		display: block;
		padding: 10px 5px;
		list-style-type: none;
		margin-left: 0 !important;
		border-bottom: 1px solid rgba(127, 127, 127, 0.25);
	}

	ul.shortcode-toggle > li:first-child {
		border-top: 1px solid rgba(127, 127, 127, 0.25);
	}

	ul.shortcode-toggle > li > div.header {
		cursor: pointer;
		position: relative;
	}

	ul.shortcode-toggle > li > div.header > .icon {
		margin-right: 20px;
		padding: 5px 8px 2px;
		color: #FFF;
		font-size: 85%;
	}

	ul.shortcode-toggle > li > div.header > .arrow {
		position: absolute;
		right: 5px;
		height: 100%;
		/*font-size: 2em;*/
	}

	ul.shortcode-toggle > li > div.header > .title {
		/*display: block;*/
		font-size: 1.3em;

		-webkit-transition-duration: 0.25s;
	  	-moz-transition-duration: 0.25s;
	  	-ms-transition-duration: 0.25s;
	  	-o-transition-duration: 0.25s;
	  	transition-duration: 0.25s;
	}

	ul.shortcode-toggle > li > div.header > .subtitle {
		display: block;
		margin-left: 50px;
		font-size: 0.85em;
	}

	ul.shortcode-toggle > li > .content {
		padding-top: 10px;
		display: none;
	}

/* Notifications */
div.shortcode-notify {
	border: 1px solid;
	margin: 10px 0;
	padding: 20px 20px 20px 86px;
	background-position:  20px 50%;
	background-repeat: no-repeat;
	color: #000;
	position: relative;
}

div.shortcode-notify.textbox-white {
		border-color: #E5E5E5;
		background-color: #fefdfd;
		padding: 20px 20px 20px 20px;

	}

	div.shortcode-notify.textbox-black {
		border-color: #000;
		background-color: #000;
		padding: 20px 20px 20px 20px;
		color: #ffffff;
	}

	div.shortcode-notify.textbox-grey {
		border-color: #eee;
		background-color: #eee;
		padding: 20px 20px 20px 20px;
	}


	div.shortcode-notify.info {
		border-color: #eef3f6;
		background-color: #eee;
		/*background-image: url(images/notifications/info.png);*/
	}

	div.shortcode-notify.warn {
		border-color: #000;
		background-color: #faebeb;
		/*background-image: url(images/notifications/warn.png);*/
	}

	div.shortcode-notify.error {
		border-color: #ffcccc;
		background-color: #ffcccc;
		/*background-image: url(images/notifications/error.png);*/
	}

	div.shortcode-notify.ok {
		border-color: #ccffcc;
		background-color: #ccffcc;
		/*background-image: url(images/notifications/ok.png);*/
	}

	div.shortcode-notify.question {
		border-color: #ccccff;
		background-color: #ccccff;
		/*background-image: url(images/notifications/question.png);*/
	}

	div.shortcode-notify [class^="notify icon-"], div.shortcode-notify [class*="notify icon-"] {
		font-size: 300%;
		position: absolute;
		top: 30%;
		left: 35px;
	}

	div.shortcode-notify.icon {
		margin-top: 40px;
		margin-bottom: 30px;
		padding: 20px;
		text-align: center;
	}
		div.shortcode-notify.icon:first-child {
			margin-top: 30px;
		}

	div.shortcode-notify.icon .circle{
		background-color: #ccc;
		color: #FFF;
		margin: -45px auto 0;
		padding: 15px;
		width: 30px;
		height: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		text-align: center;
		vertical-align: bottom;
	}
	div.shortcode-notify.icon .circle [class^="notify icon-"], div.shortcode-notify.icon .circle [class*="notify icon-"]{
		position: relative;
		top: 5%;
		left: auto;
		font-size: 200%;
	}

/*  Tabs */
div.shortcode-tabs,
div.shortcode-tabs.left,
div.shortcode-tabs.right {
	display: block;
	float: none;
}
	div.shortcode-tabs:after {
		content: '';
		display: block;
		height: 0px;
		clear: both;
	}

	div.shortcode-tabs > .content {
		background-color: #fff;
		padding: 20px;
	}

	div.shortcode-tabs.left > .titles {
			width: 34.5%;
			float: left;
		}

		div.shortcode-tabs.left > .content{
			width: 59.5%;
			float: right;
			padding: 2.5%;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		div.shortcode-tabs.right > .titles {
			width: 34.5%;
			float: right;
		}
		div.shortcode-tabs.right > .content{
			width: 59.5%;
			float: left;
			padding: 2.5%;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

			div.shortcode-tabs.right > .titles > div,
			div.shortcode-tabs.left > .titles > div {
				padding: 2% 10%;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				display: block;
				margin-right: 0px;
				position: relative;
			}

	div.shortcode-tabs > .titles > div {
		padding: 20px 20px;
		background-color: #fff;
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		cursor: pointer;
		margin-right: 1px;
		border-top: transparent 3px solid;
	}
		div.shortcode-tabs.left > .titles > div,
		div.shortcode-tabs.right > .titles > div {
			border: none;
			border-bottom: transparent 3px solid;
		}

		div.shortcode-tabs.left > .titles [class^="icon-"],
		div.shortcode-tabs.left > .titles [class*=" icon-"] {
			top: 5px;
			right: 5px;
			position: absolute;
		}

		div.shortcode-tabs.right > .titles > div {
			text-align: right;
		}
		div.shortcode-tabs.right > .titles [class^="icon-"],
		div.shortcode-tabs.right > .titles [class*=" icon-"] {
			top: 5px;
			left: 5px;
			position: absolute;
		}

	div.shortcode-tabs > .titles > div:last-child {
		margin-right: 0;
	}

	div.shortcode-tabs > .titles > div:hover {
		color: #666;
	}

	div.shortcode-tabs > .titles > div.active {
		background-color: #eee;
	}

	div.shortcode-tabs > .content > div {

	}

/* Columns */
div.shortcode-columns {
	width: 100%;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
div.shortcode-columns.custom{
	padding: 2%;
	width: 96%;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	background-size: 100% auto;
}

div.shortcode-column {
	padding-right: 1.06383%;
	padding-left: 1.06383%;
	float: left;
	vertical-align: top;
}

div.shortcode-column:last-child{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

div.shortcode-columns.divider > div {
	border-right: 1px dotted #444;
}

div.shortcode-columns.divider > div:last-child {
	border-right: 1px dotted transparent;
}

div.shortcode-columns > div.shortcode-column:first-child {
	padding-left: 0;
}

div.shortcode-columns > div.shortcode-column:last-child {
	padding-right: 0;
}

@media handheld, only screen and (max-width: 767px) {
	div.shortcode-column {
		display: block;
		padding-right: 0;
		border-right: none;
		width: 100% !important;
	}
	div.shortcode-columns.custom{
		background-position: center;
		background-size: auto auto;
	}
}

div.shortcode-column.half {
	width: 48.93617%;
}
div.shortcode-columns.divider div.shortcode-column.half {
	width: 48.6%;
}

/* Third */
div.shortcode-column.third {
	width: 31.914893%;
}
div.shortcode-columns.divider div.shortcode-column.third {
	width: 31.516%;
}

div.shortcode-column.twothird {
	width: 65.95745%;
}
div.shortcode-columns.divider div.shortcode-column.twothird {
	width: 65.616%;
}

/* Fourth */
div.shortcode-column.threefourth {
	width: 74.468085%;
}
div.shortcode-columns.divider div.shortcode-column.threefourth {
	width: 74.2%;
}

div.shortcode-column.twofourth {
	width: 48.93617%;
}
div.shortcode-columns.divider div.shortcode-column.twofourth {
	width: 48.35%;
}

div.shortcode-column.fourth {
	width: 23.404255%;
}
div.shortcode-columns.divider div.shortcode-column.fourth {
	width: 22.97%;
}

/* Fifth */
div.shortcode-column.fifth {
	width: 18.297872%;
}
div.shortcode-columns.divider div.shortcode-column.fifth {
	width: 17.85%;
}

div.shortcode-column.twofifth {
	width: 38.723404%;
}
div.shortcode-columns.divider div.shortcode-column.twofifth {
	width: 37.9%;
}

div.shortcode-column.threefifth {
	width: 59.148936%;
}
div.shortcode-columns.divider div.shortcode-column.threefifth {
	width: 57.9%;
}

div.shortcode-column.fourfifth {
	width: 79.574468%;
}
div.shortcode-columns.divider div.shortcode-column.fourfifth {
	width: 77.9%;
}

/* Dividers */
div.shortcode-divider {
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #E5E5E5;
}

	div.shortcode-divider.solid {
		border-top-style: solid;
	}

	div.shortcode-divider.totop {
		border-top-style: solid;
		position: relative;
	}

	div.shortcode-divider.totop > a.totop {
		width: 32px;
		height: 32px;
		border-radius: 8px;
		background-color: #000;
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		position: absolute;
		right: 10px;
		bottom: -16px;
		background-repeat: no-repeat;
		background-position: center;
	}
	div.shortcode-divider.totop > a.totop {
		background-image: url("images/icon-totop.png");
	}

	div.shortcode-divider.dotted {
		border-top-style: dotted;
	}

	div.shortcode-divider.invisible {
		border-top-style: none;
	}

	div.shortcode-divider.slashed {
		border-top-style: none;
		height: 8px;
		background-image: url(images/header.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}

/* Lists */
ul.shortcode-list {
}

	ul.shortcode-list.file > li {
		background-image: url(images/list-items/file.png);
	}

	ul.shortcode-list.support > li {
		background-image: url(images/list-items/support.png);
	}

	ul.shortcode-list.phone > li {
		background-image: url(images/list-items/phone.png);
	}

	ul.shortcode-list.circle > li {
		background-image: url(images/list-items/circle.png);
	}

	ul.shortcode-list.square > li {
		background-image: url(images/list-items/square.png);
	}

	ul.shortcode-list.dots > li {
		background-image: url(images/list-items/dot.png);
	}

	ul.shortcode-list.creditcard > li {
		background-image: url(images/list-items/creditcard.png);
	}

	ul.shortcode-list.v > li {
		background-image: url(images/list-items/v.png);
	}

	ul.shortcode-list.x > li {
		background-image: url(images/list-items/x.png);
	}

	ul.shortcode-list.question > li {
		background-image: url(images/list-items/question.png);
	}

	ul.shortcode-list.balloon > li {
		background-image: url(images/list-items/balloon.png);
	}

	ul.shortcode-list.plus > li {
		background-image: url(images/list-items/plus.png);
	}

	ul.shortcode-list.minus > li {
		background-image: url(images/list-items/minus.png);
	}

	ul.shortcode-list.mail > li {
		background-image: url(images/list-items/mail.png);
	}

	ul.shortcode-list.warning > li {
		background-image: url(images/list-items/warning.png);
	}

	ul.shortcode-list.info > li {
		background-image: url(images/list-items/info.png);
	}
	ul.shortcode-list > li {
		margin-left: 0 !important;
		padding: 3px 0;
		background-repeat: no-repeat;
		background-position: 5px 45%;
		padding-left: 30px;
		list-style: none !important;

	}

/* Quote */
div.shortcode-quote {
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.5);
	display: block;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 5px;
}

/* Pullquotes */
div.shortcode-pullquote {
	font-style: italic;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.2);
	padding: 20px;
	line-height: 1.7em;
	display: block;
	margin-bottom: 20px;
}

	div.shortcode-pullquote.left {
		border-left: 4px solid rgba(127, 127, 127, 0.5);
	}

	div.shortcode-pullquote.right {
		border-right: 4px solid rgba(127, 127, 127, 0.5);
	}
div.shortcode-pullquote:after{
	content: "";
	height: 0px;
	display: block;
	clear: both;
}

/* Quote symbol */
span.shortcode-quote-symbol {
	float: left;
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

	span.shortcode-quote-symbol.symbol1 {
		background-image: url(images/quote-symbols/quote1.png);
	}

	span.shortcode-quote-symbol.symbol2 {
		background-image: url(images/quote-symbols/quote2.png);
	}

	span.shortcode-quote-symbol.symbol3 {
		background-image: url(images/quote-symbols/quote3.png);
	}

	span.shortcode-quote-symbol.symbol4 {
		background-image: url(images/quote-symbols/quote4.png);
	}

	span.shortcode-quote-symbol.symbol5 {
		background-image: url(images/quote-symbols/quote5.png);
	}

/* Dropcaps */
span.shortcode-dropcap {
	padding: 0 12px 0;
	float: left;
	margin: 6px 6px 0 0;
	font-size: 2.05em;
	line-height: 1.5em;
	border-radius: 2px;
	vertical-align: bottom;
}

p span.shortcode-dropcap {
	/*float: none; */
}

	span.shortcode-dropcap.red {
		background-color: #c1272d;
		color: #fff;
	}

	span.shortcode-dropcap.green {
		background-color: #7cd86e;
		color: #fff;
	}

	span.shortcode-dropcap.blue {
		background-color: #29abe2;
		color: #fff;
	}

	span.shortcode-dropcap.white {
		background-color: #fff;
		color: #000;
	}

	span.shortcode-dropcap.black {
		background-color: #000;
		color: #fff;
	}

	span.shortcode-dropcap.grey {
		background-color: #888;
	}

/* =================================
    Gallery shortcode
   ================================= */
ul.shortcode-gallery {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

	ul.shortcode-gallery > li img {
		max-width: 100%;
		height: auto;
		opacity: 1;
		filter: alpha(opacity=100); /* IE6+ */
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE6+ */
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* this works in IE8 only */

		-webkit-transition-duration: 0.5s;
		-webkit-transition-property: opacity;
	  	-moz-transition-duration: 0.5s;
	  	-moz-transition-property: opacity;
	  	-ms-transition-duration: 0.5s;
	  	-ms-transition-property: opacity;
	  	-o-transition-duration: 0.5s;
	  	-o-transition-property: opacity;
	  	transition-duration: 0.5s;
	  	transition-property: opacity;
	}

	ul.shortcode-gallery > li:hover img {
		opacity: 0.5;
		filter: alpha(opacity=50); /* IE6+ */
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE6+ */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /* this works in IE8 only */

	}

	ul.shortcode-gallery > li {
		outline: 4px solid transparent;
		list-style: none;
		list-style-type: none;
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;

		-webkit-transition-duration: 0.5s;
		-webkit-transition-property: outline-color;
	  	-moz-transition-duration: 0.5s;
	  	-moz-transition-property: outline-color;
	  	-ms-transition-duration: 0.5s;
	  	-ms-transition-property: outline-color;
	  	-o-transition-duration: 0.5s;
	  	-o-transition-property: outline-color;
	  	transition-duration: 0.5s;
	  	transition-property: outline-color;
	}

	ul.shortcode-gallery > li:hover {}

/* Theme Dutch Accordion Carousel Slider */
.shortcode-tdacs {
	width: 100%;
	overflow:hidden;
	margin: 0 auto;
	/*margin-left: -3%;
	padding-left: -35px; */
	position: relative;
	z-index: 101;
}
	.shortcode-tdacs .viewport {
		float: left;
		margin: 0 auto;
		padding: 10px 0px;
		width: 100%;
		min-height: 110px;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
		box-shadow:  inset 0 0 10px rgba(0, 0, 0, 0.35);
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.shortcode-tdacs .buttons {
		display: block;
		background:url("images/slider-buttons.png") no-repeat scroll 0 0 transparent;
		margin: 0;
		background-position: -32px 0;
		text-indent: -999em;
		width: 40px;
		height: 45px;
		position: absolute;
		top: 37%;
		left: 0%;
		z-index: 100;
		overflow: hidden;
		cursor: pointer;
	}
	.shortcode-tdacs .next { background-position: 5px -47px; top: 37%; left: auto; right: 0;  }
	.shortcode-tdacs .disable, .shortcode-tdacs .buttons {

	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
		filter: alpha(opacity=50);
		-moz-opacity:0.50;
		-khtml-opacity: 0.50;
		opacity: 0.1;

		transition: opacity 1s;
		-moz-transition: opacity 1s;
		-webkit-transition: opacity 1s;
		-o-transition: opacity 1s;
	}
	.shortcode-tdacs:hover .buttons {
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
		filter: alpha(opacity=95);
		-moz-opacity:0.95;
		-khtml-opacity: 0.95;
		opacity: 1.0;

		transition: opacity 4s;
		-moz-transition: opacity 4s;
		-webkit-transition: opacity 4s;
		-o-transition: opacity 4s;

	}
	.shortcode-tdacs .overview { list-style: none; position: absolute; padding: 0; margin: 0 20px; height: 125px; left: 0 top: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity: 0;
		opacity: 0;

		transition: all 2s;
		-moz-transition: all 2s;
		-webkit-transition: all 2s;
		-o-transition: all 2s;
	}
	.shortcode-tdacs .overview li { display:block; float: left; margin: 0 10px 0 0; padding: 0; height: 105px; width: 105px; overflow: hidden; }
	.shortcode-tdacs .overview li a { border: none; }
	.shortcode-tdacs .overview li img {
		margin: 5px;
		padding: 0px;
		height: 90px;
		width: 90px;
		overflow: hidden;
		float: left;
		border: solid transparent 4px;

		/* box shadow */
		 -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
		 -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
		 box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

		/* border radius */
		-webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px;

		transition: all 2s;
		-moz-transition: all 2s;
		-webkit-transition: all 2s;
		-o-transition: all 2s;

	}
	.shortcode-tdacs a { outline: none !important; }
	.shortcode-tdacs .overview li img:hover { border: solid transparent 4px; }
	.shortcode-tdacs .overview li .item-wrap{ width: auto; margin: 10px 0 0 10px; padding: 0; max-height: 100px; overflow: hidden; }
	.shortcode-tdacs .overview li .item-wrap .item-title { display: block; margin: 0; padding: 0; }
	.shortcode-tdacs .overview li .item-wrap p { margin: 0;}

/* Posts Widget */
ul.td_postWidget_posts			{ border: none; margin: 0; padding: 0; }
ul.td_postWidget_posts li 		{ list-style: none; margin: 0; border-bottom:1px dashed #CCC; margin-bottom:10px; }
ul.td_postWidget_posts li:last-child     { border-bottom: none; }
ul.td_postWidget_posts li.item-entry { padding: 15px; border: solid 1px #e5e5e5; margin-bottom: 20px; }
.td_postWidget_posts a.post-title { text-decoration: none; color: inherit; }
.td_postWidget_posts li:after 	{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.td_postWidget_posts div.item {
	display: block;
	overflow: hidden;
	position: relative;
}
.td_postWidget_posts .thumbs			{

	-webkit-transition-property: border-color;
  	-webkit-transition-duration: 0.5s;
  	-moz-transition-property: border-color;
  	-moz-transition-duration: 0.5s;
  	-ms-transition-property: border-color;
  	-ms-transition-duration: 0.5s;
  	-o-transition-property: border-color;
  	-o-transition-duration: 0.5s;
  	transition-property: border-color;
  	transition-duration: 0.5s;

	margin: 0 8px 8px 0 !important; width: 40px; height: 40px; padding: 0 !important; border: solid transparent 4px;
	border-color: inherit;
	-moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.25);
}
.td_postWidget_posts .thumbnail.thumbs,
.td_postWidget_posts .medium.thumbs,
.td_postWidget_posts .large.thumbs{
	width: auto !important;
	height: auto !important;
	max-width: 98.5% !important;
}
.td_postWidget_posts .thumbnail.thumbs { max-width: 20% !important; }
.td_postWidget_posts .medium.thumbs { max-width: 35% !important; }
.td_postWidget_posts .large.thumbs{
	margin-left: 0 auto 8px;
}

.td_postWidget_posts .thumbs:hover		{}
.td_postWidget_meta				{ display: block; font-size: 80%; }
div.td_postWidget_meta	{ margin-bottom: 0.35em; }
div.td_postWidget_meta:last-child	{ margin-bottom: 1.35em; }
.theme-sidebar .td_postWidget_meta	{ display: block; font-size: 65%; }
/*.td_postWidget_posts .cat		{ text-decoration: none; padding: 1px 5px; background: #CCC; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }*/
.td_postWidget_posts .num		{ background: #CCC; font-size: 85%; padding: 0 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.td_postWidget_meta	.button { margin-top: 5px; }


/*-------------- Login Form ------------------------ */
#login {
	margin: 1em auto;
	max-width: 320px;
}
#login .site-title {
	margin: 0 auto;
	text-align: center;
}
#login .site-title img {
	margin: 0 auto;
}
#login form {
	background: #fff;
	border: solid 1px #e5e5e5;
	font-weight: normal;
	padding: 26px 24px 46px;
	-webkit-box-shadow:  0px 4px 10px -1px rgba(200, 200, 200, 0.7);
    box-shadow:  0px 4px 10px -1px rgba(200, 200, 200, 0.7);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#login .login-remember {
	float: left;
	margin-bottom: 0;
}
#login .login-submit {
	float: right;
}


/*-------------- Pricing Table CSS ------------------------ */
.td-pricingtable
{
	color:#7D7D7D;
}
.td-pricing-row
{
	float:left;
	width:100%;
}
.td-pricing-col
{
    float: left;
	width:100%;
}
.td-pricing-col:first-child
{
	margin-left:0px;
}
.td-pricing-two .td-pricing-col,
.td-pricing-three .td-pricing-col,
.td-pricing-four .td-pricing-col,
.td-pricing-five .td-pricing-col{
    background-color: #FFFFFF;
    margin-left: -1px;
}
.td-pricing-2 .td-pricing-col
{
	width:50%;
}
.td-pricing-3 .td-pricing-col
{
	width:33.33%;
}
.td-pricing-4 .td-pricing-col
{
	width:25%;
}
.td-pricing-5 .td-pricing-col
{
	width:20%;
}
.td-pricing-6 .td-pricing-col
{
	width:20%;
}
.td-pricing-7 .td-pricing-col
{
	width:16.66%;
}
.td-pricing-8 .td-pricing-col
{
	width:14.28%;
}
.td-pricing-9 .td-pricing-col
{
	width:12.5%;
}
.td-pricing-10 .td-pricing-col
{
	width:11.11%;
}
.td-pricing-10 .td-pricing-col
{
	width:10%;
}
.td-pricing-blk {
    border: 1px solid #DCDCDC;
    text-align: center;
}
.td-pricing-title
{
    background-color: rgba(0, 0, 0, 0.02);
	padding: 20px 15px 19px;
}
.td-pricing-title h1
{
    color: #282828;
    font-size: 20px;
    margin: 0;
}
.td-pricingtable p
{
	margin:0;
}
.td-pricing-top {
    padding: 10px 13px;
}
.td-pricing-top p {
    color: #282828;
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
}
.td-pricing-top p span
{
	font-size:14px;
	line-height:normal;
}
.td-pricing-title,
.td-pricing-desc,
.td-pricing-content ul li,
.td-pricing-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.td-pricing-content ul {
    list-style: none outside none;
    margin: 0;
	padding:0;
}
.td-pricing-content ul li {
    padding: 10px 15px;
}
.td-pricing-btn
{
    padding: 30px 0;
}
.td-pricing-btn a.btn-pricing {
    background-color:#999;
	color:#FFF;
}
.btn-pricing {
    background: none repeat scroll 0 0 #9AC836;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: 0 -2px rgba(1, 1, 1, 0.15) inset;
    display: inline-block;
    filter: none;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 19px 21px;
    text-align: left;
    text-shadow: none;
	text-decoration:none;
}
a.btn-pricing:hover
{
	background-color:#e6e6e6 !important;
	color:#333333 !important;
}
.featured-blk
{
	background-color: #9AC836;
	color:#FFF;
}
.featured-blk .btn-pricing
{
	background: none repeat scroll 0 0 #282828;
}
.featured-blk .btn-pricing:hover
{
	background-color:#e6e6e6;
	color:#333333;
}

/*-------------- Pricing Table CSS (end)------------------------ */
/*-------------- Progress Bar CSS (start)------------------------ */
.jquery-ui-like {
	border-radius: 5px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07) inset;
	overflow: hidden;
}
.jquery-ui-like div.main-pbar {

	border-radius: 5px;
	width:0;
	background-color:gray;
	background: #707070 url('images/pattern-lines.png') top left;
}
.jquery-ui-like div.pink-bar {
	background-color:#F879BB;
}
.jquery-ui-like div.purple-bar {
	background-color:#967F9F;
}
.jquery-ui-like div.teal-bar {
	background-color:#7FA9AB;
}
.jquery-ui-like div.aqua-bar {
	background-color:#4bc1e8;
}
.jquery-ui-like div.red-bar {
	background-color:#FF0000;
}
.jquery-ui-like div.yellow-bar {
	background-color:#FFFF00;
}
.jquery-ui-like div.blue-bar {
	background-color:#0000FF;
}
.jquery-ui-like div.green-bar {
	background-color:#21a503;
}
.jquery-ui-like div.silver-bar {
	background-color:#e5e5e5;
}
.jquery-ui-like div.gray-bar {
	background-color:#838383;
}
.jquery-ui-like div.orange-bar {
	background-color:#e86f3e;
}
.jquery-ui-like div.title-pblk
{
	background: none repeat scroll 0 0 #494949;
	border-radius: 4px;
	display:inline-block;
	color:#FFF;
	padding:3px 10px;
	margin:4px;
	display:none;
	float:left;

}
.jquery-ui-like .hide-pblk
{
	opacity:0;
	filter:alpha(opacity=0);
}
/*-------------- Progress Bar CSS (end)------------------------ */

@media screen and (max-width: 767px) {
	ul.shortcode-toggle { margin-bottom: 1.5em; }
	.jquery-ui-like { margin-bottom: 1em; }
}
